<mat-toolbar color="accent">
  <h4><b>User Dashboard</b></h4>
</mat-toolbar>
<mat-list role="list">
  <div class="example-button-row">
    <button mat-fab extended color="bundle"> <mat-list-item role="listitem"
        routerLink="/yadagiri">Yadagiri</mat-list-item>
    </button>
    &nbsp;
    <button mat-fab extended color="bundle">
      <mat-list-item role="listitem" routerLink="/mahesh/login">Mahesh</mat-list-item>
    </button>
    &nbsp;
    <button mat-fab extended color="bundle">
      <mat-list-item role="listitem" routerLink="/mohammad/component">Mohammad</mat-list-item>
    </button>
    &nbsp;
    <button mat-fab extended color="bundle">
      <mat-list-item role="listitem" routerLink="/navyalogin">Navya</mat-list-item>
    </button>
    &nbsp;
    <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="/Sandeep">Sandeep</mat-list-item>
  </button>
  &nbsp;
  <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="/aditya/CRUD">Aditya</mat-list-item>
  </button>
  &nbsp;
  <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="/Naresh">Naresh</mat-list-item>
  </button>
  &nbsp;
  <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="/dinesh">Dinesh</mat-list-item>
  </button>
  &nbsp;
  <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="/pranayhome">Pranay</mat-list-item>
  </button>
  &nbsp;
  <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="/Nagarjuna/Shopping">Nagarjuna</mat-list-item>
  </button>
  &nbsp;

  <button mat-fab extended color="bundle">
    <mat-list-item role="listitem" routerLink="srikantH/create-registration">SrikantH</mat-list-item>
  </button>
  </div>
</mat-list>